# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
*.egg-info/
dist/
build/
.pytest_cache/

# Environment
.env

# Database
data/phishguard.db
data/sandbox_tmp/

# Node / Frontend build
node_modules/
.parcel-cache/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# Docker
*.tar
